aside {
  background-color: black;
  color: white;
  width: 30vh;
  height: 100vh;
}

.menu-items ul {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 100;
  background: black;
  font-family: "VT323", monospace;
  font-size: 25px;
}
.link {
  text-decoration: none;
  display: flex;
  color: white;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
}
.mobile-menu-icon {
  display: none;
}
.icons {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.icon-tabler {
  margin-right: 5px;
}
.github-icon {
  color: white;
}
.menu-items {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .menu-items,
  .signup-button,
  .github-corner {
    display: none;
  }
  nav {
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 100;
    position: fixed;
    width: 90%;
    position: fixed;
    background: black;
  }
  .mobile-menu-icon {
    display: block;
    color: white;
    display: flex;
    align-items: center;
    font-size: 4vh;
    cursor: pointer;
    top: 0;
    right: 0;
  }
}

.github-corner {
  position: fixed;
  top: 0;
  z-index: 99999;
  right: 0px;
}

.menu-items ul {
  list-style: none;
}

.nav-link {
  text-decoration: none;
  color: white;
}

nav li {
  padding: 1rem 0;
}

.nav-link:hover {
  color: #a5ff03;
}

.icons i {
  color: white;
  font-size: 30px;
}

.icons i:hover {
  color: #a5ff03;
}

.toggle-button {
  color: white;
  border: none;
  cursor: pointer;
  background-color: transparent;
}
